<div id="parent">

  <div class="five ten fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[0].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[0].rank %>
    </h1>
    <a href=" trends/<%= @trends[0].id %> "><img class="element-item" src="<%= @trends[0].thumbnail %>"></a>
  </div>

  <div class="five ten fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[1].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[1].rank %>
    </h1>
      <a href=" trends/<%= @trends[1].id %> "><img class="element-item" src="<%= @trends[1].thumbnail %>"></a>
  </div>

  <div class="five ten fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[2].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[2].rank %>
    </h1>
      <a href=" trends/<%= @trends[2].id %> "><img class="element-item" src="<%= @trends[2].thumbnail %>"></a>
  </div>

  <div class="five ten fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[3].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[3].rank %>
    </h1>
      <a href=" trends/<%= @trends[3].id %> "><img class="element-item" src="<%= @trends[3].thumbnail %>"></a>
  </div>

  <div class="five ten fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[4].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[4].rank %>
    </h1>
      <a href=" trends/<%= @trends[4].id %> "><img class="element-item" src="<%= @trends[4].thumbnail %>"></a>
  </div>

  <div class="ten fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[5].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[5].rank %>
    </h1>
      <a href=" trends/<%= @trends[5].id %> "><img class="element-item" src="<%= @trends[5].thumbnail %>"></a>
  </div>

  <div class="ten fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[6].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[6].rank %>
    </h1>
      <a href=" trends/<%= @trends[6].id %> "><img class="element-item" src="<%= @trends[6].thumbnail %>"></a>
  </div>

  <div class="ten fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[7].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[7].rank %>
    </h1>
      <a href=" trends/<%= @trends[7].id %> "><img class="element-item" src="<%= @trends[7].thumbnail %>"></a>
  </div>

  <div class="ten fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[8].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[8].rank %>
    </h1>
      <a href=" trends/<%= @trends[8].id %> "><img class="element-item" src="<%= @trends[8].thumbnail %>"></a>
  </div>

  <div class="ten fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[9].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[9].rank %>
    </h1>
      <a href=" trends/<%= @trends[9].id %> "><img class="element-item" src="<%= @trends[9].thumbnail %>"></a>
  </div>

  <div class="fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[10].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[10].rank %>
    </h1>
      <a href=" trends/<%= @trends[10].id %> "><img class="element-item" src="<%= @trends[10].thumbnail %>"></a>
  </div>

  <div class="fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[11].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[11].rank %>
    </h1>
      <a href=" trends/<%= @trends[11].id %> "><img class="element-item" src="<%= @trends[11].thumbnail %>"></a>
  </div>

  <div class="fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[12].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[12].rank %>
    </h1>
      <a href=" trends/<%= @trends[12].id %> "><img class="element-item" src="<%= @trends[12].thumbnail %>"></a>
  </div>

  <div class="fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[13].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[13].rank %>
    </h1>
      <a href=" trends/<%= @trends[13].id %> "><img class="element-item" src="<%= @trends[13].thumbnail %>"></a>
  </div>

  <div class="fifteen element-item things">
    <h1 class="title-item">
      <%= @trends[14].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[14].rank %>
    </h1>
      <a href=" trends/<%= @trends[14].id %> "><img class="element-item" src="<%= @trends[14].thumbnail %>"></a>
  </div>

  <div class="element-item things">
    <h1 class="title-item">
      <%= @trends[15].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[15].rank %>
    </h1>
      <a href=" trends/<%= @trends[15].id %> "><img class="element-item" src="<%= @trends[15].thumbnail %>"></a>
  </div>

  <div class="element-item things">
    <h1 class="title-item">
      <%= @trends[16].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[16].rank %>
    </h1>
      <a href=" trends/<%= @trends[16].id %> "><img class="element-item" src="<%= @trends[16].thumbnail %>"></a>
  </div>

  <div class="element-item things">
    <h1 class="title-item">
      <%= @trends[17].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[17].rank %>
    </h1>
      <a href=" trends/<%= @trends[17].id %> "><img class="element-item" src="<%= @trends[17].thumbnail %>"></a>
  </div>

  <div class="element-item things">
    <h1 class="title-item">
      <%= @trends[18].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[18].rank %>
    </h1>
      <a href=" trends/<%= @trends[18].id %> "><img class="element-item" src="<%= @trends[18].thumbnail %>"></a>
  </div>

  <div class="element-item things">
    <h1 class="title-item">
      <%= @trends[19].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[19].rank %>
    </h1>
      <a href=" trends/<%= @trends[19].id %> "><img class="element-item" src="<%= @trends[19].thumbnail %>"></a>
  </div>

  <div class="element-item things">
    <h1 class="title-item">
      <%= @trends[20].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[20].rank %>
    </h1>
      <a href=" trends/<%= @trends[20].id %> "><img class="element-item" src="<%= @trends[20].thumbnail %>"></a>
  </div>

  <div class="element-item things">
    <h1 class="title-item">
      <%= @trends[21].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[21].rank %>
    </h1>
      <a href=" trends/<%= @trends[21].id %> "><img class="element-item" src="<%= @trends[21].thumbnail %>"></a>
  </div>

  <div class="element-item things">
    <h1 class="title-item">
      <%= @trends[22].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[22].rank %>
    </h1>
      <a href=" trends/<%= @trends[22].id %> "><img class="element-item" src="<%= @trends[22].thumbnail %>"></a>
  </div>

  <div class="element-item things">
    <h1 class="title-item">
      <%= @trends[23].name %>
    </h1>
    <h1 class="rank-item">
      <%= @trends[23].rank %>
    </h1>
      <a href=" trends/<%= @trends[23].id %> "><img class="element-item" src="<%= @trends[23].thumbnail %>"></a>
  </div>

</div>