<div id="parent">

  <div class="five ten fifteen element-item content">
    <%= @trends[0].name %><a href=" trends/<%= @trends[0].id %> "><img src="<%= @trends[0].thumbnail %>"></a>
  </div>

  <div class="five ten fifteen element-item content">
    <%= @trends[1].name %><a href=" trends/<%= @trends[1].id %> "><img src="<%= @trends[1].thumbnail %>"></a>
  </div>

  <div class="five ten fifteen element-item content">
    <%= @trends[2].name %><a href=" trends/<%= @trends[2].id %> "><img src="<%= @trends[2].thumbnail %>"></a>
  </div>

  <div class="five ten fifteen element-item content">
    <%= @trends[3].name %><a href=" trends/<%= @trends[3].id %> "><img src="<%= @trends[3].thumbnail %>"></a>
  </div>

  <div class="five ten fifteen element-item content">
    <%= @trends[4].name %><a href=" trends/<%= @trends[4].id %> "><img src="<%= @trends[4].thumbnail %>"></a>
  </div>

  <div class="ten fifteen element-item content">
    <%= @trends[5].name %><a href=" trends/<%= @trends[5].id %> "><img src="<%= @trends[5].thumbnail %>"></a>
  </div>

  <div class="ten fifteen element-item content">
    <%= @trends[6].name %><a href=" trends/<%= @trends[6].id %> "><img src="<%= @trends[6].thumbnail %>"></a>
  </div>

  <div class="ten fifteen element-item content">
    <%= @trends[7].name %><a href=" trends/<%= @trends[7].id %> "><img src="<%= @trends[7].thumbnail %>"></a>
  </div>

  <div class="ten fifteen element-item content">
    <%= @trends[8].name %><a href=" trends/<%= @trends[8].id %> "><img src="<%= @trends[8].thumbnail %>"></a>
  </div>

  <div class="ten fifteen element-item content">
    <%= @trends[9].name %><a href=" trends/<%= @trends[9].id %> "><img src="<%= @trends[9].thumbnail %>"></a>
  </div>

  <div class="fifteen element-item content">
    <%= @trends[10].name %><a href=" trends/<%= @trends[10].id %> "><img src="<%= @trends[10].thumbnail %>"></a>
  </div>

  <div class="fifteen element-item content">
    <%= @trends[11].name %><a href=" trends/<%= @trends[11].id %> "><img src="<%= @trends[11].thumbnail %>"></a>
  </div>

  <div class="fifteen element-item content">
    <%= @trends[12].name %><a href=" trends/<%= @trends[12].id %> "><img src="<%= @trends[12].thumbnail %>"></a>
  </div>

  <div class="fifteen element-item content">
    <%= @trends[13].name %><a href=" trends/<%= @trends[13].id %> "><img src="<%= @trends[13].thumbnail %>"></a>
  </div>

  <div class="fifteen element-item content">
    <%= @trends[14].name %><a href=" trends/<%= @trends[14].id %> "><img src="<%= @trends[14].thumbnail %>"></a>
  </div>

  <div class="fifteen element-item content">
    <%= @trends[15].name %><a href=" trends/<%= @trends[15].id %> "><img src="<%= @trends[15].thumbnail %>"></a>
  </div>

  <div class="element-item content">
    <%= @trends[16].name %><a href=" trends/<%= @trends[16].id %> "><img src="<%= @trends[16].thumbnail %>"></a>
  </div>

  <div class="element-item content">
    <%= @trends[17].name %><a href=" trends/<%= @trends[17].id %> "><img src="<%= @trends[17].thumbnail %>"></a>
  </div>

  <div class="element-item content">
    <%= @trends[18].name %><a href=" trends/<%= @trends[18].id %> "><img src="<%= @trends[18].thumbnail %>"></a>
  </div>

  <div class="element-item content">
    <%= @trends[19].name %><a href=" trends/<%= @trends[19].id %> "><img src="<%= @trends[19].thumbnail %>"></a>
  </div>

</div>