<button class="shuffle-button" type="button">Shuffle</button>


<div id="reactContainer">

</div>

<script type="text/babel">

  var BigTile = React.createClass({
    render: function(){
       return(
       <div className="BigTrend content">
          <h1>{this.props.trend}</h1>
          <a href={this.props.id}><img className="tile-image" src={this.props.picture} /></a>
       </div>)
       ;
    }
  });  

  var MediumTile = React.createClass({
    render: function(){
       return(
       <div className="MediumTrend content">
          <h1>{this.props.trend}</h1>
          <a href={this.props.id}><img className="tile-image" src={this.props.picture} /></a>
       </div>)
       ;
    }
  });  

  var SmallTile = React.createClass({
    render: function(){
       return(
       <div className="SmallTrend content">
          <h1>{this.props.trend}</h1>
          <a href={this.props.id}><img className="tile-image" src={this.props.picture} /></a>
       </div>)
       ;
    }
  });

  ReactDOM.render(<div id="grid">
                    <% @big_trends.each do |trend| %>
                    <BigTile id="trends/<%= trend.id %>" trend="<%= trend.name %>" picture="<%= trend.thumbnail %>"/>
                    <% end %>                    

                    <% @medium_trends.each do |trend| %>
                    <MediumTile id="trends/<%= trend.id %>" trend="<%= trend.name %>" picture="<%= trend.thumbnail %>"/>
                    <% end %>                    

                    <% @small_trends.each do |trend| %>
                    <SmallTile id="trends/<%= trend.id %>" trend="<%= trend.name %>" picture="<%= trend.thumbnail %>"/>
                    <% end %>

                  </div>, document.getElementById('reactContainer'))
</script>