<div id="content-img">
  <h3 id="trend-title"><%= @trend.name %></h3>
</div>

<!-- Live Tweet Button -->
<div class="tweetbox">
  <iframe
    src="https://platform.twitter.com/widgets/tweet_button.html?size=l&url=''"
    width="140"
    height="28"
    title="Twitter Tweet Button"
    style="border: 0; overflow: hidden;">
  </iframe>
</div>

<!-- Bing Images -->
<div class="row">
  <div class="col s12">
    <div class="card blue lighten-5">
      <div id="picture-carousel">
        <div class="carousel">
          <% @trend.images.each do |image| %>
            <a class="carousel-item"><img src="<%= image.url %>"></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bing News Articles -->
<!-- Modal Trigger -->
<div class="row">
  <div class="col s6">
    <div class="card blue lighten-5 medium"><br>
      <div id="news-container">
        <% @trend.links.each do |link| %><br>
          <a class="waves-effect waves-light btn modal-trigger link blue lighten-1" href="<%= link.url %>"><%= link.name %></a><br>
        <% end %>
        <div class="modal">
          <div class="modal-content"></div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Twitter Tweets -->
<div class="col s6">
  <div class="card blue lighten-5 medium"><br>
    <script>
        window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
          return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <div id="embedded_tweet">
      <% @tweets_array.each do |tweet| %>
        <script type="text/javascript">
          window.setTimeout(function() {
            twttr.widgets.createTweet(
              '<%= tweet.tweet %>',
              document.getElementById('embedded_tweet')
            );
          }, 1000);
        </script>
      <% end %>
    </div>
  </div>
</div>