 <%# @trends_array.each do |trend|%>
  <%# trend %>
 <!--  <br> -->
 <%# end %>

<div id="grid">
   <div class="content" id="1"><%= @trends_array[0] %><img src="<%= @images_array[0] %>"></div>
   <div class="content" id="2"><%= @trends_array[1] %><img src="<%= @images_array[1] %>"></div>
   <div class="content" id="3"><%= @trends_array[2] %><img src="<%= @images_array[2] %>"></div>
   <div class="content" id="4"><%= @trends_array[3] %><img src="<%= @images_array[3] %>"></div>
   <div class="content" id="5"><%= @trends_array[4] %><img src="<%= @images_array[4] %>"></div>
   <div class="content" id="6"><%= @trends_array[5] %><img src="<%= @images_array[5] %>"></div>
   <div class="content" id="7"><%= @trends_array[6] %><img src="<%= @images_array[6] %>"></div>
   <div class="content" id="8"><%= @trends_array[7] %><img src="<%= @images_array[7] %>"></div>
   <div class="content" id="9"><%= @trends_array[8] %><img src="<%= @images_array[8] %>"></div>
</div>